$green: #43A047;
$yellow: #FDD835;
$orange: #FFB300;
$red: #E53935;
$grey: #D1D3CB;

@mixin solid-circle($color) {
  background-color: $color;
  line-height: 50px;
}

@mixin hollow-circle($color) {
  border: 5px solid $color;
  line-height: 40px;
}

@mixin lock() {
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.level-select {
  background-color: $grey;
}

.title {
  text-align: center;
  margin: 5px auto;
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.difficulty-level-progress {
  text-align: center;
  margin: 30px auto;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  text-align: center;
  font-weight: bold;
}

.levels-container {
  margin-bottom: 30px;
}

.beginner-solid-circle {
  @extend .circle;
  @include solid-circle($green);
}

.intermediate-solid-circle {
  @extend .circle;
  @include solid-circle($yellow);
}

.advanced-solid-circle {
  @extend .circle;
  @include solid-circle($orange);
}

.expert-solid-circle {
  @extend .circle;
  @include solid-circle($red);
}

.beginner-hollow-circle {
  @extend .circle;
  @include hollow-circle($green);
}

.intermediate-hollow-circle {
  @extend .circle;
  @include hollow-circle($yellow);
}

.advanced-hollow-circle {
  @extend .circle;
  @include hollow-circle($orange);
}

.expert-hollow-circle {
  @extend .circle;
  @include hollow-circle($red);
}

.padlock {
  height: 24px;
}

.progress-status {
  position: absolute;
  line-height: 105px;
  left: 50%;
  font-size: 18px;
  font-weight: bold;
  transform: translateX(-50%);
}

.clickable:hover {
  cursor: pointer;
}

.fa-lock-green {
  color: $green;
  @include lock();
}

.fa-lock-yellow {
  color: $yellow;
  @include lock();
}

.fa-lock-orange {
  color: $orange;
  @include lock();
}

.fa-lock-red {
  color: $red;
  @include lock();
}
