.title {
  text-align: center;
  margin: 0 auto;
  font-size: 48px;
}

.difficulty-level-progress {
  text-align: center;
  margin: 50px auto;
}

.circle {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  text-align: center;
  font-weight: bold;
}

@mixin solid-circle($color) {
  background-color: $color;
  line-height: 60px;
}

@mixin hollow-circle($color) {
  border: 5px solid $color;
  line-height: 50px;
}

.beginner-solid-circle {
  @extend .circle;
  @include solid-circle(#00ff00);
}

.intermediate-solid-circle {
  @extend .circle;
  @include solid-circle(yellow);
}

.advanced-solid-circle {
  @extend .circle;
  @include solid-circle(orange);
}

.expert-solid-circle {
  @extend .circle;
  @include solid-circle(red);
}

.beginner-hollow-circle {
  @extend .circle;
  @include hollow-circle(lime);
}

.intermediate-hollow-circle {
  @extend .circle;
  @include hollow-circle(yellow);
}

.advanced-hollow-circle {
  @extend .circle;
  @include hollow-circle(orange);
}

.expert-hollow-circle {
  @extend .circle;
  @include hollow-circle(red);
}

.padlock {
  height: 24px;
}

.progress-status {
  position: absolute;
  line-height: 105px;
  left: 50%;
  font-size: 18px;
  font-weight: bold;
  transform: translateX(-50%);
}
